.container1>ul>li:nth-child(even) {
    color: pink;
}

.container2>ul>li:nth-child(odd) {
    font-size: 22px;
}

.container3>ul>li:nth-child(2n+4)::after {
    content: '!';
}

.container4>ul>li:last-child {
    color: pink;
}

.container5>ul>li:first-letter {
    font-size: 30px;
    color: red;
}