header, .main-content, .side-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d3d3d3;
}

header {
    height: 30vh;
}

main {
    padding-top: 10px;
    gap: 10px;
    display: flex;
}

.main-content, .side-content {
    height: 65vh;
}

.main-content {
    width: 75vw;
}

.side-content {
    width: 25vw;
}

