@media screen and (max-width: 420px) {
    header, .side-content{
        height: 15vh;
    }
    main {
        display: block;
    }

    .main-content {
        width: 100%;
    }

    .main-content-header, .side-content {
        width: 100%;
    }

    .side-content {
        margin-top: 10px;
    }
}